{% extends 'Games/layout.html.twig' %}

{% form_theme form 'form/bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h4>To update your details please complete below and confirm your password:</h4>
        <br/>
        {{ form(form) }}
    </div>

{% endblock %}